@mixin basic-transition(){
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

$pink: #FFB8B6;

/* TYPOGRAPHY */

.text-large{
  font-size:32px;
  font-weight:300;
  font-family: 'Raleway', sans-serif;
}

/* COMMON PAGE ELEMENTS */

.link{
  &:hover{
    color:$pink;
    cursor: pointer;
  }

  @include basic-transition();
}

/* OVERLOADED DEFAULTS */
