@mixin basic-transition(){
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

@mixin text-font(){
  font-family: 'Raleway', sans-serif;
}

$pink: #FFB8B6;

/* TYPOGRAPHY */

.text-large{
  font-size:32px;
  font-weight:300;

  @include text-font();
}

.text-small{
  font-size:17px;
  font-weight:400;

  @include text-font();
}

/* COMMON PAGE ELEMENTS */

.link{
  color:black;

  &:hover{
    color:$pink;
    cursor: pointer;
    @include basic-transition();
  }

  @include basic-transition();
}

/* OVERLOADED DEFAULTS */
