<div galleryScroll class='gallery-image-container'>
  <div class='gallery-padding'></div>
  <img class='gallery-image' src='{{ coverPhotoVm }}' />
  <img class='gallery-image' src='{{ imagepath }}' *ngFor='let imagepath of imagesVm' />
  <!--img class='gallery-image' src='{{ endPhotoVm }}' /-->
</div>

<div class='menu-container'>
  <a href='/home'>
    <img class='logo' src='../../../../public/assets/cover/logo.png' />
  </a>
  <div id='directory'>DIRECTORY</div>
  <div class='category link'
      [class.expanded]='expandedCategory===i'
      (click)='expandedCategory = i'
      *ngFor='let category of categoriesVm; let i=index'>
    {{ category.name | uppercase }}
    <div class='subcategory link'
      [class.active]='activeSubcategory===j && activeCategory===i'
      *ngFor='let subcategory of category.subcategories; let j=index'
      (click)='setGallery(i, j); activeSubcategory = j'>
      {{ subcategory }}
    </div>
  </div>
  <div id='contactContainer'>
    <svg height="1px" width="70px">
      <line x1="0" y1="0" x2="70" y2="0" style="stroke:rgb(0, 0, 0);stroke-width:1px" />
    </svg>
    <a href='/contact'>
      <div id='contactMeButton' class='text-small link'>CONTACT</div>
    </a>
  </div>
</div>
