<div class='gallery-image-container'>
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
  <img class='gallery-image' src='../../../../public/images/cover/egyptGirlCover.png' />
</div>
