// TODO: Use transition mixin for all UI elements.
// TODO: Only use animation for position moving (egyptgirl)
// TODO: Standardize text sizes in common, otherwise make specific texts for id'd items
// TODO: Separate out the cover to it's own 'scene' component to prepare for multiple.
// TODO: Organize this file.
// TODO: Add breakpoint for social links.

@mixin basic-transition(){
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

@-webkit-keyframes basicFadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes egyptGirlEnter {
	0% {right: 0%; opacity:0;}
	100% {right: 44%; opacity:1;}
}

@keyframes basicFadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes egyptGirlEnter {
	0% {right: 0%; opacity:0;}
	100% {right: 44%; opacity:1;}
}

.screensize-container{
  top:0;
  right:0;
  bottom:0;
  left:0;

  position:fixed;
}

.menu-container{
  top:0;
  left:75px;
  bottom:0;

  width:300px;

  position:fixed;

  text-align:center;
}

.logo{
  width:300px;
  height:170px;

  margin-top:50px;
  opacity:0;

  &.inView{
    -webkit-animation: basicFadeIn 0.4s ease-in-out 0.1s 1 forwards;
    animation: basicFadeIn 0.4s ease-in-out 0.1s 1 forwards;
  }
}

#viewPortfolioButton{
  margin-top:70px;
  letter-spacing: 2px;

  display:inline-block;

  opacity:0;

  &.inView{
    -webkit-animation: basicFadeIn 0.4s ease-in-out 0.15s 1 forwards;
    animation: basicFadeIn 0.4s ease-in-out 0.15s 1 forwards;
  }
}



/* Egypt girl scene */
.screensize-background{
  position:absolute;

  min-width:100%;
  min-height:100%;
}

#egyptGirlCoverContainer{
  top:0;
  bottom:0;
  right:0%;

  &.inView{
    -webkit-animation: egyptGirlEnter 0.8s ease-in-out 0.2s 1 forwards;
    animation: egyptGirlEnter 0.8s ease-in-out 0.2s 1 forwards;
  }

  position:fixed;
}

#egyptGirlCover{
  height:100%;
  max-height:100%;

  position:absolute;
}

#followContainer{
  position:absolute;
  bottom:80px;
  left:15px;

  opacity:0;

  -webkit-animation: basicFadeIn 0.4s ease-in-out 0.2s 1 forwards;
  animation: basicFadeIn 0.4s ease-in-out 0.2s 1 forwards;

  &.inView{
    -webkit-animation: basicFadeIn 0.4s ease-in-out 0.2s 1 forwards;
    animation: basicFadeIn 0.4s ease-in-out 0.2s 1 forwards;
  }
}

#followMeButton{
  margin-top:10px;
}

.social-links{
  opacity:0;

  &.inView{
    opacity:1;
  }

  @include basic-transition();
}

.social-link{

  width:30px;
  height:30px;

  margin-right:10px;
  margin-left:10px;
  display:inline-block;

    img{
      width:30px;
      height:30px;
    }
  }
