// TODO: Standardize text sizes in common, otherwise make specific texts for id'd items
// TODO: Separate out the cover to it's own 'scene' component to prepare for multiple.
// TODO: Organize this file.
// TODO: Add breakpoint for social links.

$logo-animation-delay: 0.1s;
$view-portfolio-button-animation-delay: 0.15s;
$social-continer-animation-delay: 0.2s;

$enter-animation-duration: 0.25s;

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@mixin basic-transition($duration, $delay){
  -o-transition: all $duration ease-in-out $delay;
  -moz-transition: all $duration ease-in-out $delay;
  -webkit-transition: all $duration ease-in-out $delay;
  transition: all $duration ease-in-out $delay;
}

@mixin begin-animate($name, $duration, $delay){
  -webkit-animation: $name $duration ease-in-out $delay 1 forwards;
  animation: $name $duration ease-in-out $delay 1 forwards;
}

.screensize-container{
  top:0;
  right:0;
  bottom:0;
  left:0;

  position:fixed;
}

.menu-container{
  top:0;
  left:75px;
  bottom:0;

  width:300px;

  position:fixed;

  text-align:center;
}

.logo{
  min-height:200px;

  width:auto;
  height:44vh;

  max-width:100%;
  max-height:100%;

  display:inline-block;

  margin-top:2vh;
  opacity:0;

  &.animate-enter{
    @include begin-animate(fadeIn, $enter-animation-duration, $logo-animation-delay);
  }
}

#viewPortfolioButton{
  margin-top:4vh;
  letter-spacing: 2px;

  display:inline-block;

  opacity:0;

  &.animate-enter{
    @include begin-animate(fadeIn, $enter-animation-duration, $view-portfolio-button-animation-delay);
  }
}

#socialContainer{
  position:absolute; // Must be absolute to pin at bottom.
  bottom:12vh;

  // Center (centering an absolute object)
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

  opacity:0;

  &.animate-enter{
    @include begin-animate(fadeIn, $enter-animation-duration, $social-continer-animation-delay);
  }
}

#followMeButton{
  margin-top:10px;
}

.social-links{
  opacity:0;

  &.animate-enter{
    opacity:1;
    @include basic-transition($enter-animation-duration, 0s);
  }
  @include basic-transition($enter-animation-duration, 0s);
}

.social-link{

  width:30px;
  height:30px;

  margin: 0 10px;

  display:inline-block;

  /*img{
    width:30px;
    height:30px;
  }*/
}

.instagram, .tumblr, .artstation, .facebook, .twitter {
  background-image: url('https://s3-us-west-2.amazonaws.com/kimbyarting/social.png');
  background-repeat: no-repeat;
  width:30px;
  height:30px;
}

.instagram {
  background-position: 0px 0px;
}

.tumblr {
  background-position: -30px 0px;
}

.artstation {
  background-position: -60px 0px;
}

.facebook {
  background-position: -90px 0px;
}

.twitter {
  background-position: -120px 0px;
}



  /**** SCENE *****/

@-webkit-keyframes egyptGirlEnter {
	0% {right: 0%; opacity:0;}
	100% {right: 44%; opacity:1;}
}

@keyframes egyptGirlEnter {
	0% {right: 0%; opacity:0;}
	100% {right: 44%; opacity:1;}
}

/* Egypt girl scene */
.screensize-background{
  position:absolute;

  min-width:100%;
  min-height:100%;
}

#egyptGirlCoverContainer{
  top:0;
  bottom:0;
  right:0%;

  &.animate-enter{
    @include begin-animate(egyptGirlEnter, 0.4s, 0.2s);
  }

  position:fixed;
}

#egyptGirlCover{
  height:100%;
  max-height:100%;

  position:absolute;
}
