<div class='screensize-container'>
  <div class='slide-container'>
    <div class='screensize-background egypt-girl-cover-background'></div>
    <div id='egyptGirlCoverContainer' [class.animate-enter]='enter'>
      <img id='egyptGirlCover' src='http://kimbyarting.herokuapp.com/assets/egyptGirlCover.png' />
    </div>
  </div>
  <div class='menu-container'>
    <img class='logo' [class.animate-enter]='enter' src='http://kimbyarting.herokuapp.com/assets/logo.png' />
    <a
      id='viewPortfolioButton'
      class='text-large link'
      [class.animate-enter]='enter'
      href='/portfolio'>
        VIEW PORTFOLIO
    </a>
    <div id='socialContainer' [class.animate-enter]='enter'>
      <div class='social-links' [class.animate-enter]='showSocialLinks'>
        <a class='social-link instagram' href='https://www.instagram.com/kimbyarting/' target='_blank'></a>
        <a class='social-link tumblr' href='http://kimbyarting.tumblr.com/' target='_blank'></a>
        <a class='social-link artstation' href='https://www.artstation.com/artist/kimbyarting' target='_blank'></a>
        <a class='social-link facebook' href='https://www.facebook.com/kimbyarting/' target='_blank'></a>
        <a class='social-link twitter' href='https://twitter.com/kimbyarting' target='_blank'></a>
      </div>
      <svg height="1px" width="70px">
        <line x1="0" y1="0" x2="70" y2="0" style="stroke:rgb(0, 0, 0);stroke-width:1px" />
      </svg>
      <div id='followMeButton' class='text-small link' (click)='ToggleSocialLinks();'>
          FOLLOW ME
      </div>
    </div>
  </div>
</div>

<!-- https://www.unavco.org/lib/images/wireframe-image.png -->
