<div class='contact-container'>
  <div class='left'>
    <a href='/'>
      <div class='logo-container'>
        <img class='logo' src='../../../../public/assets/cover/logo.png' />
      </div>
    </a>
    <div class='contact-details'>
      <div class='contact-detail'><span class='label'>email</span> kimbyarting@gmail.com</div>
      <div class='contact-detail'><span class='label'>phone</span> (509) - 594 - 0131</div>
    </div>
    <p class='about'>Hello, I'm Kim!<br/><br/>I am a concept artist and illustrator with a passion for creating stories through my art. I love to place myself within the world of what I am creating--be it a character or a distant planet--and love creating pieces that bring my audience into that world. I'm currently located in the Austin, TX area.<br/><br/>For inquiries, please contact me via email, or stop by on social media to say hello!</p>
    <a href='/portfolio'>
      <div id='back-to-portfolio-button' class='link'>BACK TO PORTFOLIO</div>
    </a>
  </div>
  <div class='right'>
    <img src='../../../../public/assets/profilePicture.jpg' />
  </div>
</div>
