$menu-width:240px;
$pink: #FFB8B6;

@mixin basic-transition($duration, $delay){
  -o-transition: all $duration ease-in-out $delay;
  -moz-transition: all $duration ease-in-out $delay;
  -webkit-transition: all $duration ease-in-out $delay;
  transition: all $duration ease-in-out $delay;
}

.gallery-padding{
  width:$menu-width;
  height:100vh;
  display:inline-block;
}

.gallery-block{
  display:inline-block;
  position:relative;
  height:94vh;
  text-align:center;
  padding: 3vh 0;
  margin: 0 15px;
}

.gallery-block-content{
  position:absolute;
  width:100%;
  height:94vh;

  margin-left:50%;
  transform:translateX(-50%);
}

.plaque{
  width:300px;
}

.plaque-title{
  margin-top:12vh;
  margin-bottom:15px;
}

.plaque-content{
  margin-top:50px;
  white-space:pre-wrap;
  line-height:25px;
}

.plaque-numeral{
  width:50px;
  height:50px;

  border:1px solid black;
  border-radius:50%;

  display:inline-block;
  position:absolute;
  bottom:12vh;

  transform: translateX(-50%);

  p{
    margin-top:50%;
    transform:translateY(-40%);
  }
}

.text-small-sarif{
  font-family:'calendas_plusregular', sans-serif;
  font-size:12px;
}

.text-medium-sarif{
  font-family:'calendas_plusregular', sans-serif;
  font-size:16px;
}

.text-large-sarif{
  font-family:'calendas_plusregular', sans-serif;
  font-size:28px;
  letter-spacing:1px;
}

.italic{
  font-style:italic;
}

.gallery-end{
  width:300px;

  .gallery-block-content img{
    width:200px;
    height:auto;
    margin-top:50px;
  }
}

.gallery-end-link{
  font-family: 'Raleway', sans-serif;
  font-size:28px;
  font-weight:300;
  letter-spacing:1px;
  margin-top:50px;
}

.text-small-description{
  font-family:'calendas_plusregular', sans-serif;
  font-size:12px;
  font-style:italic;
}

.gallery-image-container{
  white-space:nowrap;
  width:100vw;
  height:100vh;
  position:relative;
  overflow-y:hidden;

  img{
    display:inline-block;
    height:94vh;

    margin:3vh 15px;
  }
}

.plaque{
  display:inline-block;
}
